<header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/tasks">Tareas</a></li>
      <li><a href="/habits">Hábitos</a></li>
      <li><a href="/users">Usuarios</a></li>
    </ul>
  </nav>
</header>