<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <h1>Error</h1>
    <p><%= message %></p>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>