<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <main class="container text-center">
    <h1 class="my-4">Bienvenido a la App de Tareas y Hábitos</h1>
    <p class="lead">Gestiona tus tareas y hábitos de manera eficiente.</p>
    <a href="/tasks" class="btn btn-primary btn-lg">Ver Tareas</a>
    <a href="/habits" class="btn btn-success btn-lg">Ver Hábitos</a>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>