<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <h1>Bienvenido a la App de Tareas y Hábitos</h1>
    <p>Selecciona una opción del menú para continuar.</p>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>